jupyter==1.1.1
numpy==2.2.4
pandas==2.2.3
matplotlib==3.10.1
seaborn==0.13.2
scikit-learn==1.6.1
mlflow==2.22.1
sqlalchemy==2.0.42
pymysql==1.1.1
meteostat==1.7.4
openpyxl==3.1.5
plotly==6.2.0
missingno==0.5.2
statsmodels==0.14.4
requests==2.32.4